body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f0e6;
    color: black;
    display: flex;
    height: 100vh;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #d9bbb0;
    border-bottom: 5px outset #f5e3e3;
    
  }

  .title {
    display: flex;
    text-align: center;
  }
  
  .header-right {
    display: flex;
    gap: 20px;
  }
  
  .profile-btn img,
  .addTask-btn img,
  .notification-btn img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 20px;
    
  }
  
  .main-content {
    display: flex;
    flex: 1;
    width: 100%;
  }
  
  .sidebar {
    width: 180px;
    background-color: #e2d9cd;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: left;
    box-shadow: 0 2px 6px ;
  }
  
  .sidebar button {
    background-color: #d3c5b3;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dashboard {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .task-header,
  .activities-main-content {
    background-color: #e2d9cd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px ;
  }
  
  .task-container,
  .activities-container {
    background-color: #c0b7ab;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  
  .addTask-btn img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    
  }

  .profile-container {
    display: flex;
    gap: 12px;
  }

  .app {
    color: #706760;
    text-shadow: 0 0.3px 0.6px;
  }
  
  